
<html>
<head>
    <link href="assets/style.css" type="text/css"   rel="stylesheet" >
</head>
<body>
    <h1>Bienvenid@ al método para saber si un número es par o impar</h1>
    <h3>Para acceder al método, en el navegor introduce "/paroimpar/NUMERO_CUALQUIERA y da enter"</h3>
</body>
</html>